@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Lato", sans-serif;
  /* border: 1px solid #333; */

  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  text-align: center;
  margin: 10px 15px 20px 15px;
}

.titles h3 {
  margin-top: 8px;
}

.btn {
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  color: rgb(241, 235, 235);
  background-color: rgb(30, 114, 223);
  padding: 8px 25px 8px 25px;
  transition: 0.3s;
  font-size: large;
  outline: none;
}
.btn:hover {
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: blue;
}

.newLink {
  display: flex;
  align-items: center;
}

.newLink div {
  text-decoration: none;
  border: none;
  outline: none;
  margin-left: 12px;
  font-size: large;
}

.Link {
  background-color: rgb(115, 173, 115);
  padding: 5px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  color: white;
}
